<div class="rounded-xl shadow-xl text-sm">
  <!-- <img class="rounded-t-xl w-full h-36 object-cover" [src]="data.mainImageUrl" alt=""> -->
  <div class="flex flex-col p-7">
    <div class="flex-flex-row">
      <!-- <div class="text-xs uppercase bg-yellow-100 p-1 px-2 text-yellow-700 rounded-2xl">{{data.name}}</div> -->
    </div>
    <h2 class="text-md font-bold truncate bg-yellow-100 text-yellow-700 mt-1">{{data.name}}</h2>
    <p class=" text-gray-600 mt-1">{{ (data.bio.length > 20)? (data.bio | slice:0:200)+'':(data.bio) }}</p>
    <div class="flex flex-row mt-5 items-center justify-start">
      <!-- <img class="rounded-xl mr-2" [src]="data.authorImageUrl" alt="">
      <p class="font-bold text-sm mr-2">{{data.authorName}}</p>
      <p class="text-gray-400 text-sm">On {{data.postDate}}</p> -->
      <button (click)="addToFavorite(data)" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Add to Favorite
      </button>
      <button (click)="removeFromFavorite(data)" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
        Remove from Favorite
      </button>
    </div>
  </div>
</div>
