<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 p-8 gap-8">
  <app-card class="transition-transform transform hover:scale-105" *ngFor="let author of authors" [data]="author">
  </app-card>
</div>
<div class="flex items-center justify-center mb-2">
  <button (click)="onPrev()" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l">
    Prev
  </button>
  {{pageNumber}}
  <button (click)="onNext()" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r">
    Next
  </button>
</div>
